<li>
	{{name}}

	<button class="change-consumed" data-id="{{id}}" data-newconsumed="{{consumed}}">
		{{#unless consumed}}Consume it{{else}}Regurgitate it{{/unless}}
	</button>

	<button class="delete-sandwich" data-id="{{this.id}}">Delete it!</button>
</li>
